@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Red+Hat+Text:500|Ubuntu:300&display=swap');

.header {
	height: 280px;
	position: fixed;
	padding: 0 0 0 0;
	z-index: 50;
}

.transition {
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	-o-transition: height 0.3s;
	transition: height 0.3s;
}

.t_all {
	-webkit-transition: all linear 0.5s;
	-moz-transition: all linear 0.5s;
	-o-transition: all linear 0.5s;
	transition: all linear 0.5s;
}

.header h1 {
	color: white;
	font-family: 'Red Hat Text', sans-serif;
	font-size: 2em;
	margin: 0px 0px 0px 0px;
}

.header nav a {
	color: white;
	font-family: 'Noto Sans', sans-serif;
}

.header .profile_pic {
	max-width: 100%;
}

.header #caption {
	margin-top: 120px;
	z-index: 10;
}

.blog-cover {
	animation: 0.9s ease-in forwards fadein;
	background: no-repeat scroll center center/cover #000;
	height: 100%;
	left: 0;
	position: absolute;
	top:0;
	width: 100%;
	z-index: -5;
}

.blog-cover:after {
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
    position: absolute;
	z-index: -5;
}

.ribbon {
	height: 100%;
	background-blend-mode: color;
	background: linear-gradient(to bottom, transparent 60%, rgba(9, 9, 9, 0.8) 100%);
	left: 0;
	position: absolute;
	top:0;
	width: 100%;
	z-index: -4;
}

.menu {
	padding-bottom: 0px;
	padding-top: 0px;
}

.header.header-shrink {
	-webkit-box-shadow: 0 4px 4px rgba(0,0,0,.3);
    box-shadow: 0 4px 4px rgba(0,0,0,.3);
    height: 90px;
}

.header.header-shrink .profile_pic {
	height: 10%;
	width: 10%;
}

.header.header-shrink #caption {
	margin-top: 10px;
}

.main {
	font-family: 'Ubuntu', sans-serif;
	padding-bottom: 50px;
	padding-top: 320px;
	position: relative;
}

.card-title.mty {
	font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
	margin-bottom: 3px;
}

.card-title.mty a {
	color: #212529;
	text-decoration: none;
}

.card-title.mty a:hover {
	text-shadow: .1em .1em .1em rgba(0, 0, 0, 0.2);
}

.card-title.mty a:after {
	color: #666;
}

.author,
.author:hover,
.author:focus {
	color:#000;
	text-decoration: none;
}

.credits {
	color: white;
	font-family: 'Noto Sans', sans-serif;
}

.credits-pelican {
	display: block;
	float: right;
}

.credits a,
.credits a:hover {
	color: white;
	text-decoration: none;
}

@media screen and (max-width: 414px) {

	.header #caption {
		margin-top: 90px;
	}

	.header .profile_pic {
		float:right;
		height: auto;
		margin-top: 90px;
		max-width: 40%;
	}

	.header.header-shrink #caption {
		margin-top: 15px;
	}


	.header.header-shrink .profile_pic {
		height: 30%;
		margin-top: 20px;
		width: 30%;
	}

	.header.header-shrink {
		-webkit-box-shadow: 0 4px 4px rgba(0,0,0,.3);
		box-shadow: 0 4px 4px rgba(0,0,0,.3);
		height: 110px;
	}
}

blockquote {
    margin: 2em auto;
    padding: 1em;
    box-sizing: border-box;
    border-left: 0.25em solid #e5e4e1;
    font-style: italic;
    font-weight: 400;
    color: #45484d;
    background: #faf9f7
}

blockquote p {
    margin: 1em auto
}

blockquote p:first-child {
    margin-top: 0
}

blockquote p:last-child {
    margin-bottom: 0
}

code,
tt {
    position: relative;
    margin: 0 0.333em;
    padding: 0.333em 0.666em;
    font-family: monospace, sans-serif;
    font-size: 0.75em;
    white-space: pre;
    background: #faf9f7;
    border: 1px solid #e5e4e1;
    top: -2px
}

pre {
    position: relative;
    margin: 2em auto;
    padding: 1em;
    overflow: hidden;
    font-family: monospace, sans-serif;
    white-space: pre;
    background: #faf9f7;
    border: 1px solid #e5e4e1;
    box-sizing: border-box
}

pre .lines {
    position: absolute;
    width: 2.666em;
    height: 100%;
    left: 0;
    top: 0;
    padding: 1.333em 0;
    border-right: 1px solid #e5e4e1;
    font-size: 0.75em;
    line-height: 2em;
    text-align: right;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.5)
}

pre .lines .line {
    display: block;
    padding-right: 0.333em;
    color: #45484d
}

pre code,
pre tt {
    position: static;
    top: auto;
    margin: -1.333em -1.333em -1.333em 1.333em;
    padding: 1.333em;
    overflow: scroll;
    font-size: 0.75em;
    line-height: 2em;
    white-space: pre;
    background: transparent;
    border: none;
    vertical-align: inherit
}

table {
    width: 100%;
    max-width: 100%;
    margin: 2em 0;
    background-color: transparent;
    border: 1px solid #e5e4e1
}

table th,
table td {
    position: relative;
    padding: 0.5em;
    line-height: 0.95em;
    text-align: left;
    border: 1px solid #e5e4e1
}

table th {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 0.75em;
    line-height: 1.25em;
    padding: 0.666em;
    color: #000
}

table td:after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -1px;
    top: -1px;
    padding: 1px;
    z-index: -1;
    content: '';
    background: #faf9f7
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noto Sans', sans-serif;
    text-rendering: optimizeLegibility;
    color: #000
}

@font-face {
    font-family: 'icons';
    src: url("../font/icons.eot?51058516");
    src: url("../font/icons.eot?51058516#iefix") format("embedded-opentype"), url("../font/icons.woff?51058516") format("woff"), url("../font/icons.ttf?51058516") format("truetype"), url("../font/icons.svg?51058516#icons") format("svg");
    font-weight: normal;
    font-style: normal;
}


[class^="ic-"]:before,
[class*=" ic-"]:before {
    font-family: 'icons';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em
}

.ic-star:before {
    content: '\e800'
}

.ic-rss:before {
    content: '\e801'
}

.ic-posts:before {
    content: '\e802'
}

.ic-location:before {
    content: '\e803'
}

.ic-link:before {
    content: '\e804'
}

.ic-googleplus:before {
    content: '\e805'
}

.ic-facebook:before {
    content: '\e806'
}

.ic-arrow-right:before {
    content: '\e807'
}

.ic-arrow-left:before {
    content: '\e808'
}

.ic-twitter:before {
    content: '\e809'
}

.ic-menu:before {
    content: '\e80a'
}

.post-share {
    max-width: 25%;
    float: right
}

.post-share a {
    display: block;
    width: 2em;
    height: 2em;
    margin: 0.333em 0 0.333em 0.666em;
    padding: 0;
    float: left;
    font-size: 0.75em;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 2px;
    transition: all ease 0.3s
}

.post-share a:hover,
.post-share a:focus {
    background-color: #212226
}

.post-share a i {
    color: inherit
}

.post-share a i:before {
    width: auto;
    height: auto
}

.post-share .twitter {
    background-color: #3ea9dd
}

.post-share .facebook {
    background-color: #3c5a98
}

.post-tags {
    max-width: 75%;
    float: left;
    font-family: 'Noto Sans', sans-serif
}

.post-tags a {
    display: inline-block;
    margin: 0 0.333em 0.666em 0;
    padding: 0.575em 1em;
    background: #fff;
    border: 1px solid #343a40;
    font-size: 0.75em;
    font-weight: 500;
    line-height: 1.333em;
    text-align: center;
    text-decoration: none;
    color: #343a40;
    border-radius: 2em;
    transition: all ease 0.3s;
    box-sizing: border-box
}

.post-tags a:hover,
.post-tags a:focus {
    background: #343a40;
    color: #fff
}

.post-author {
    position: relative;
    margin: 2em 0 0;
    padding: 2em 0;
    z-index: 10;
    border-top: 1px solid #e5e4e1;
    border-bottom: 1px solid #e5e4e1;
    clear: both
}

.post-author-avatar {
    position: relative;
    float: left;
    width: 15%;
    margin: -0.5em 0 0 5%;
    overflow: hidden;
    background: #fff;
    border-radius: 10em;
    box-sizing: border-box
}

.post-author-avatar img {
    width: 100%;
    margin: auto;
    border-radius: 10em;
    box-sizing: border-box
}

.post-author-bio {
    padding-left: 25%;
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.75em;
    line-height: 1.333em
}

.post-author-name {
    margin: 0;
    padding: 0;
    font-size: 1.333em;
    line-height: 1em;
    text-indent: inherit
}

.post-author-about {
    margin: 0.666em 0
}

.post-author-bio span {
    position: relative;
    font-size: 0.8em;
    display: inline-block;
    margin-top: 1.25em;
    margin-right: 1.25em;
    font-weight: 400;
    opacity: 0.5
}

.post-author-bio i {
    color: inherit
}

.post-author-bio a {
    color: inherit;
    text-decoration: none;
    font-weight: inherit;
    border-bottom: 1px solid transparent
}

.clear {
    clear: both
}

.space {
	margin-top: 30px;
}

.post-comments {
    position: relative;
    padding: 2em 0;
    text-align: center;
    border-bottom: 1px solid #e5e4e1;
    box-sizing: border-box
}

.post-comments.activated {
    margin: -1px 0 0;
    padding: 1em;
}

.post-comments-activate {
    display: inline-block;
    margin: 0;
    padding: 0.5em 1.25em;
    border: 1px solid #343a40;
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.75em;
    line-height: 1.333em;
    text-align: center;
    text-decoration: none;
    color: #343a40;
    border-radius: 2em;
    transition: all ease 0.3s;
}

.post-comments-activate:hover,
.post-comments-activate:focus {
    border-color: #343a40;
    background: #343a40;
    color: #fff;
    text-decoration: none;
}

.activated .post-comments-activate {
    display: none
}

.post-nav {
    position: relative;
    border-bottom: 1px solid #e5e4e1;
    color:#000;
}

.post-nav:after {
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    left: 50%;
    top: 0;
    background: #e5e4e1;
    z-index: 2
}

.post-nav-next,
.post-nav-prev {
    display: block;
    width: 50%;
}

.post-nav-next {
    float: left
}

.post-nav-prev {
    float: right
}

.post-nav-teaser {
    padding: 1.5em 0;
    min-height: 6em
}

.post-nav-next .post-nav-teaser {
    padding-right: 1em
}

.post-nav-prev .post-nav-teaser {
    padding-left: 1em
}

.post-nav i {
    position: absolute;
    top: 50%;
    width: 2em;
    height: 2em;
    margin-top: -1em;
    font-size: 2em;
    line-height: 2em;
    text-align: center;
    transition: all ease-out 0.3s;
    color: #e5e4e1;
}

.post-nav-next i {
    left: 0;
    margin-left: -1.75em
}

.post-nav-prev i {
    right: 0;
    margin-right: -1.75em
}

.post-nav i:hover,
.post-nav i:focus {
	color: #343a40;
}

.post-nav a,
.post-nav a,
.post-nav a:hover,
.post-nav a:focus {
	color:#000;
    text-decoration: none;
}

.post-nav a:hover i,
.post-nav a:focus i {
	color: #343a40;
}

.post-nav-title {
    margin: 0 0 0.5em;
    padding: 0;
    font-size: 1em;
    line-height: 1em;
    color: inherit;
    font-family: 'Noto Sans', sans-serif;
}

.post-nav-excerpt {
    margin: 0;
    font-size: 0.75em;
    line-height: 1.333em;
    font-family: 'Ubuntu', sans-serif;
}
